.layout_container {
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .layout_container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* background-color: #f2f2f2; */
  }
}
