@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: white;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground); */
  /* color: #0a0a0a; */
  color: #1f1f1f;
  /* color: rgb(242, 242, 242); */
  background: var(--foreground);
  font-family: "Inter", system-ui;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
